* {
  /* debug用　使用完刪除 */
  /* outline: 1px red solid; */
  font-family: Noto Sans TC;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media (min-width: 1200px) and (max-width: 1920px) {
  .main {
    padding-top: 54px; /* 與導航欄的高度相同 解決navigation position fixed問題*/
    display: flex;
    flex-direction: column; /*nav section infors footer垂直排*/
    align-items: center;
  }
  .navigation {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 54px;
    /* padding: 10px 0; */
    position: fixed; /* 將 position 設置為 fixed */
    top: 0; /* 將navigation固定在頂部 */
    background-color: white; /* 確保navigation不被其他元素遮擋 */
    z-index: 999; /* 設置 z-index,確保導航欄在最上層 */
  }
  .navigation-divider {
    border: 1px solid #e8e8e8;
    border-top: 0px;
    width: 100vw;
    top: 54px;
    position: absolute;
    /* z-index: 1000; */
  }
  .nav_bar {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav_h2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    margin: 0;
    left: 0px;
    font-size: 30px;
    color: #448899;
    overflow: hidden;
  }
  .button_container {
    display: flex;
    margin-left: auto;
    height: 34px;
    font-size: 16px;
    color: #666666;
    align-items: center;
    appearance: none;
    border: none;
  }
  /* 消除按鈕的預設樣式 */
  .button_container button {
    appearance: none;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    margin: 0;
    font-size: inherit;
    color: inherit;
  }
  /* dialog */
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
  }
  dialog {
    all: unset;
    background-color: #fff;
    border-radius: 5px;
  }
  .sign-in-block {
    width: 340px;
    min-height: 275px;

    top: 80px;
    margin: 0 auto;
    position: absolute;
    box-sizing: border-box;
  }

  .decorator-bar {
    width: 340px;
    height: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  }
  .close-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-size: 20px;
    background: none;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .sign-in-form {
    position: absolute;
    width: 310px;
    min-height: 235px;
    top: 25px;
    left: 15px;
    box-sizing: border-box;
    text-align: center; /*對signin-error-msg inline-block水平置中*/
  }
  #signin-error-msg,
  #signup-error-msg,
  #signup-success-msg {
    display: inline-block;
  }
  .sign-in-title {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 24px;
    height: 27px;
    overflow: hidden; /*解決文本的實際渲染高度超過設置的行高*/
  }
  #signin-email,
  #signin-password,
  #signin-name,
  #signup-name,
  #signup-email,
  #signup-password {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box; /* 解決內邊距跟邊框超過*/
    padding-left: 15px;
  }

  #signin-email,
  #signup-email {
    margin-bottom: 10px;
  }
  #signin-password,
  #signup-password {
    margin-bottom: 10px;
  }
  .sign-in-btn {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    /* position: absolute; */
    top: 156px;
    border: none;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
  }
  .to-sign-up {
    /* position: absolute; */
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 310px;
    height: 22px;
    top: 213px;
    color: #666666;
  }
  /*  */

  .sign-up-block {
    width: 340px;
    height: 332px;
    top: 80px;
    margin: 0 auto;
    position: absolute;
  }
  .sign-up-form {
    position: absolute;
    width: 310px;
    height: 292px;
    top: 25px;
    left: 15px;
    text-align: center; /*對signin-error-msg inline-block水平置中*/
  }

  .sign-up-title {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 24px;
    height: 27px;
    overflow: hidden; /*解決文本的實際渲染高度超過設置的行高*/
  }
  #signup-name,
  #signin-name {
    margin-bottom: 10px;
  }
  .sign-up-btn {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: none;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
  }

  .to-sign-in {
    /* position: absolute; */
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 310px;
    height: 22px;
    /* top: 270px; */
    color: #666666;
  }
  /* ... */
  .footer {
    /* 暫時解決跑版 */
    position: sticky;
    bottom: 0px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #757575;
    height: 104px;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .main-content {
    flex-grow: 1;
  }
  /* 訂單編號區塊 */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .orderTitle1,
  .orderTitle2 {
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    height: 27px;
    line-height: 16px; /*解決scroll bar*/
  }
  .orderTitle3,
  .orderNumber {
    color: #666666;
  }

  /*  */
}

@media (min-width: 750px) and (max-width: 1199px) {
  .main {
    padding-top: 54px; /* 與導航欄的高度相同 解決navigation position fixed問題*/
    display: flex;
    flex-direction: column; /*nav section infors footer垂直排*/
    align-items: center;
  }
  .navigation {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 54px;
    /* padding: 10px 0; */
    position: fixed; /* 將 position 設置為 fixed */
    top: 0; /* 將navigation固定在頂部 */
    background-color: white; /* 確保navigation不被其他元素遮擋 */
    z-index: 999; /* 設置 z-index,確保導航欄在最上層 */
  }
  .navigation-divider {
    border: 1px solid #e8e8e8;
    border-top: 0px;
    width: 100vw;
    top: 54px;
    position: absolute;
    /* z-index: 1000; */
  }
  .nav_bar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav_h2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    margin-left: 10px;
    left: 0px;
    font-size: 30px;
    color: #448899;
    overflow: hidden;
  }
  .button_container {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    height: 34px;
    font-size: 16px;
    color: #666666;
    align-items: center;
    appearance: none;
    border: none;
  }
  /* 消除按鈕的預設樣式 */
  .button_container button {
    appearance: none;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    margin: 0;
    font-size: inherit;
    color: inherit;
  }
  /*  */
  /* headline */
  .headline {
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    width: 94.44vw;
    height: 27px;
    /* position: absolute;
        top: 94px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-sizing: border-box;
    line-height: 16px; /*解決scroll bar*/
  }
  .customer-name {
    display: inline;
  }

  /* dialog */
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
  }
  dialog {
    all: unset;
    background-color: #fff;
    border-radius: 5px;
  }
  .sign-in-block {
    width: 340px;
    min-height: 275px;

    top: 80px;
    margin: 0 auto;
    position: absolute;
    box-sizing: border-box;
  }

  .decorator-bar {
    width: 340px;
    height: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  }
  .close-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-size: 20px;
    background: none;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .sign-in-form {
    position: absolute;
    width: 310px;
    min-height: 235px;
    top: 25px;
    left: 15px;
    box-sizing: border-box;
    text-align: center; /*對signin-error-msg inline-block水平置中*/
  }
  #signin-error-msg,
  #signup-error-msg,
  #signup-success-msg {
    display: inline-block;
  }
  .sign-in-title {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 24px;
    height: 27px;
    overflow: hidden; /*解決文本的實際渲染高度超過設置的行高*/
  }
  #signin-email,
  #signin-password,
  #signin-name,
  #signup-name,
  #signup-email,
  #signup-password {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box; /* 解決內邊距跟邊框超過*/
    padding-left: 15px;
  }

  #signin-email,
  #signup-email {
    margin-bottom: 10px;
  }
  #signin-password,
  #signup-password {
    margin-bottom: 10px;
  }
  .sign-in-btn {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    /* position: absolute; */
    top: 156px;
    border: none;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
  }
  .to-sign-up {
    /* position: absolute; */
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 310px;
    height: 22px;
    top: 213px;
    color: #666666;
  }
  /*  */

  .sign-up-block {
    width: 340px;
    height: 332px;
    top: 80px;
    margin: 0 auto;
    position: absolute;
  }
  .sign-up-form {
    position: absolute;
    width: 310px;
    height: 292px;
    top: 25px;
    left: 15px;
    text-align: center; /*對signin-error-msg inline-block水平置中*/
  }

  .sign-up-title {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 24px;
    height: 27px;
    overflow: hidden; /*解決文本的實際渲染高度超過設置的行高*/
  }
  #signup-name,
  #signin-name {
    margin-bottom: 10px;
  }
  .sign-up-btn {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: none;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
  }

  .to-sign-in {
    /* position: absolute; */
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 310px;
    height: 22px;
    /* top: 270px; */
    color: #666666;
  }
  /* ... */
  .footer {
    /* 暫時解決跑版 */
    position: sticky;
    bottom: 0px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #757575;
    height: 104px;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .main-content {
    flex-grow: 1;
  }
  /* 訂單編號區塊 */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Optional: Adds some space between elements */
  }
  .orderTitle1,
  .orderTitle2 {
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    height: 27px;
    line-height: 16px; /*解決scroll bar*/
  }
  .orderTitle3,
  .orderNumber {
    color: #666666;
  }
  /*  */
}

@media (min-width: 360px) and (max-width: 750px) {
  .main {
    padding-top: 54px; /* 與導航欄的高度相同 解決navigation position fixed問題*/
    display: flex;
    flex-direction: column; /*nav section infors footer垂直排*/
    align-items: center;
  }
  .navigation {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 54px;
    /* padding: 10px 0; */
    position: fixed; /* 將 position 設置為 fixed */
    top: 0; /* 將navigation固定在頂部 */
    background-color: white; /* 確保navigation不被其他元素遮擋 */
    z-index: 999; /* 設置 z-index,確保導航欄在最上層 */
  }
  .navigation-divider {
    border: 1px solid #e8e8e8;
    border-top: 0px;
    width: 100vw;
    top: 54px;
    position: absolute;
    /* z-index: 1000; */
  }
  .nav_bar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav_h2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    margin-left: 10px;
    left: 0px;
    font-size: 30px;
    color: #448899;
    overflow: hidden;
  }
  .button_container {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    height: 34px;
    font-size: 16px;
    color: #666666;
    align-items: center;
    appearance: none;
    border: none;
  }
  /* 消除按鈕的預設樣式 */
  .button_container button {
    appearance: none;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    margin: 0;
    font-size: inherit;
    color: inherit;
  }
  /*  */
  /* headline */
  .headline {
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    width: 94.44vw;
    height: 27px;
    /* position: absolute;
        top: 94px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-sizing: border-box;
    line-height: 16px; /*解決scroll bar*/
  }
  .customer-name {
    display: inline;
  }

  /* dialog */
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
  }
  dialog {
    all: unset;
    background-color: #fff;
    border-radius: 5px;
  }
  .sign-in-block {
    width: 340px;
    min-height: 275px;

    top: 80px;
    margin: 0 auto;
    position: absolute;
    box-sizing: border-box;
  }

  .decorator-bar {
    width: 340px;
    height: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  }
  .close-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-size: 20px;
    background: none;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .sign-in-form {
    position: absolute;
    width: 310px;
    min-height: 235px;
    top: 25px;
    left: 15px;
    box-sizing: border-box;
    text-align: center; /*對signin-error-msg inline-block水平置中*/
  }
  #signin-error-msg,
  #signup-error-msg,
  #signup-success-msg {
    display: inline-block;
  }
  .sign-in-title {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 24px;
    height: 27px;
    overflow: hidden; /*解決文本的實際渲染高度超過設置的行高*/
  }
  #signin-email,
  #signin-password,
  #signin-name,
  #signup-name,
  #signup-email,
  #signup-password {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box; /* 解決內邊距跟邊框超過*/
    padding-left: 15px;
  }

  #signin-email,
  #signup-email {
    margin-bottom: 10px;
  }
  #signin-password,
  #signup-password {
    margin-bottom: 10px;
  }
  .sign-in-btn {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    /* position: absolute; */
    top: 156px;
    border: none;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
  }
  .to-sign-up {
    /* position: absolute; */
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 310px;
    height: 22px;
    top: 213px;
    color: #666666;
  }
  /*  */

  .sign-up-block {
    width: 340px;
    height: 332px;
    top: 80px;
    margin: 0 auto;
    position: absolute;
  }
  .sign-up-form {
    position: absolute;
    width: 310px;
    height: 292px;
    top: 25px;
    left: 15px;
    text-align: center; /*對signin-error-msg inline-block水平置中*/
  }

  .sign-up-title {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    line-height: 24px;
    height: 27px;
    overflow: hidden; /*解決文本的實際渲染高度超過設置的行高*/
  }
  #signup-name,
  #signin-name {
    margin-bottom: 10px;
  }
  .sign-up-btn {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: none;
    background-color: #448899;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
  }

  .to-sign-in {
    /* position: absolute; */
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 310px;
    height: 22px;
    /* top: 270px; */
    color: #666666;
  }
  /* ... */
  .footer {
    /* 暫時解決跑版 */
    position: sticky;
    bottom: 0px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #757575;
    height: 104px;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .main-content {
    flex-grow: 1;
  }
  /* 訂單編號區塊 */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Optional: Adds some space between elements */
  }
  .orderTitle1,
  .orderTitle2 {
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    height: 27px;
    line-height: 16px; /*解決scroll bar*/
  }
  .orderTitle3,
  .orderNumber {
    color: #666666;
  }
  /*  */
}
